:root {
	--web-title-font: 'Acme', sans-serif;
	--nav-color: #ff9059;
	--nav-secondary-color: #f1895a;
	--teal-color: #0dcaf0;
	--footer-bg-color: #212529;
}

* {
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.title {
	margin: 40px 30px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	border-bottom: solid 2px var(--nav-secondary-color);
}
